html, body { margin:0; padding:0; }

#demoCanvas, #debugCanvas {
	z-index: 1;
}

#debugCanvas {
	z-index: 2;
	display: none;
	position: absolute;
	left:0;
}

#paused {
	z-index: 3;
	width: 500px;
	background-color: #FFF;
	display: none;
}

#demoCanvas {
	border: 1px solid #000;
}

.button {
	position: absolute;
	top: 580px;
	width: 250px;
	height: 25px;
	background-color: #5fd644;
	cursor: pointer;
	text-align: center;
	padding-top:5px;
}